@import '../../vars.sass'

.root
    display: block
    color: $green
    background-color: $black
    font-size: 18px
    padding: 5px 15px
    border: 1px solid $green
    border-radius: 10px
    &::placeholder
        color: #7a7a7a
        
