@import '../../vars.sass'
    
    
    
.root
    width: 900px
    margin: 0 auto
    .input
        width: 100%
        color: $green
        background-color: $black
        display: flex
        justify-content: left
        align-items: center
        font-size: 18px
        padding: 5px 15px
        border: 1px solid $green
        border-radius: 10px
        &::placeholder
            color: #7a7a7a
        
