@import "../../vars.sass"

.root
    width: 800px
    padding: 10px 30px
    border-radius: 10px
    background: -webkit-linear-gradient(45deg, #108cc5,#00c4cd,#4dee74)
    background: linear-gradient(45deg, #108cc5,#00c4cd,#4dee74)
    cursor: default

    .new-word-block
        .title
            color: $black
            text-align: center
            font-size: 26px
            font-weight: 500
        .input
            color: $green
            margin-top: 20px
            width: 100%
            background-color: rgba(0, 0, 0, 0.75)
            border: 2px solid transparent
            box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.3)
            transition: border 0.3s
            &.error
                border: 2px solid #b40000

    .translate-block
        .title
            margin-top: 20px
            color: $black
            text-align: center
            font-size: 26px
            font-weight: 500
        .input
            margin-top: 10px
            width: 100%
            background-color: rgba(0, 0, 0, 0.75)
            border: none
            box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.3)



    .examples-block
        .title
            color: $black
            text-align: center
            font-size: 26px
            font-weight: 500
            margin-top: 20px
        .input
            margin-top: 10px
            width: 100%
            background-color: rgba(0, 0, 0, 0.75)
            border: none
            box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.3)


    .plus-block
        border-radius: 100%
        display: flex
        justify-content: center
        align-items: center
        border: 1px solid $black
        width: 25px
        height: 25px
        margin: 0 auto
        margin-top: 10px
        cursor: pointer
        transition: fill 0.5s, background-color 0.5s
        .plus
            width: 20px
            height: 20px
        &:hover
            background-color: rgba(0, 0, 0, 0.75)
            fill: $green

    .button
        width: 200px
        border: 1px solid $black
        margin-top: 10px
        transition: width 0.4s, color 0.4s, background-color 0.4s
        &:hover
            width: 250px
            background-color: rgba(0, 0, 0, 0.75)
            color: $green

    .error-input
        border: 1px solid red