@import '../../vars.sass'

.root
    width: 900px
    margin: 0 auto
    color: white
    background-color: $black
    border-radius: 10px
    border: 1px solid $green
    margin-top: 20px
    padding: 5px 15px
    .list
        &-item
            margin-top: 10px
            font-size: 18px
            border-bottom: 1px solid $grey
            padding-bottom: 10px
            &-translate
                display: flex
                justify-content: space-between