@import '../../vars.sass'

.root
    width: 900px
    margin: 0 auto
    color: white
    background-color: rgba(0, 0, 0, 0.5)
    border-radius: 10px
    border: 1px solid $green
    margin-top: 20px
    padding: 5px 15px
    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.35)

        